{{ $hasCategories := partial "func/HasTaxonomyAvailable" (dict "section" "publications" "taxonomy" "publications_categories") }}
{{ $hasConcerned := partial "func/HasTaxonomyAvailable" (dict "section" "publications" "taxonomy" "publications_concerned") }}
{{ $hasExpertises := partial "func/HasTaxonomyAvailable" (dict "section" "publications" "taxonomy" "publications_expertises") }}
{{ if or $hasCategories $hasConcerned $hasExpertises }}
  <div class="filters offcanvas" tabindex="-1" id="publicationsFilters" aria-labelledby="publicationsFiltersLabel">
    {{ partial "publications/filters/header" . }}
    {{ partial "publications/filters/content" . }}
  </div>
{{ end }}