{{- $hasCategories := partial "func/HasTaxonomyAvailable" (dict "section" "publications" "taxonomy" "publications_categories") -}}
{{- $hasPersons := partial "func/HasTaxonomyAvailable" (dict "section" "publications" "taxonomy" "publications_persons") -}}
{{- $hasExpertises := partial "func/HasTaxonomyAvailable" (dict "section" "publications" "taxonomy" "publications_expertises") -}}
{{- if or $hasCategories $hasPersons $hasExpertises }}
  {{ partial "commons/filters.html" (dict "context" . "section" "publications") }}
{{- end }}