<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Periodical",
    "name": {{ .Title }},
    "url": {{ .Permalink }},

    {{ with .Params.image }}
      "thumbnailUrl": {{ .src | absURL }},
    {{ end }}

    {{ with .Date }}
      "datePublished": {{ . }},
    {{ end }}

    {{ with .Params.press }}
      "publisher": {
        "@type": "Organization",
        "name": {{ .title | plainify | safeHTML }},
      },
    {{ end }}

    {{ with .Params.description }}
      "abstract": {{ . | plainify | safeHTML }},
    {{ end }}

    {{ with .Content }}
      "description": {{ . | plainify | safeHTML }},
    {{ end }}
  }
</script>